<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Cellier - Vino Veritas</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/cellar.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/list.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="menu-container">
      <div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div>
      <div class="header-title">Vino Veritas</div>
    </div>
    <!-- Main container div -->
    <div class="modal" id="wineModal" windid="">
      <div class="modal-content">
        <div class="column column-2">
          <div class="container">
            <div id="winename" class="child modal-wine-name"></div>
            <div class="container">
              <div class="column" style="width: 30%; float: left; padding: 0">
                <div class="child modal-label">Qtée</div>
                <div id="wineqty" class="child modal-text">4</div>
              </div>
              <div class="column" style="width: 30%; float: left">
                <div class="child modal-label">Prix</div>
                <div id="wineprice" class="child modal-text">6</div>
              </div>
            </div>
          </div>

          <div class="button-container">
            <div class="button" onclick="takeWine(this)">Prendre</div>
            <div
              class="button button-close"
              onclick="wineModal.hide();"
            >
              Fermer
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="wineListModal">
      <div id="container" class="container">
        <input id="searchWine" type="text" placeholder="Nom" />
        <button
          id="button1"
          onclick="document.getElementById('searchWine').value = '';generateList('name','')"
        >
          Effacer
        </button>
      </div>
      <div style="width: 100%; height: 80vh; overflow-y: auto">
        <div style="display: flex; flex-wrap: wrap; justify-content: center">
          <div id="list-container" class="list-container-modal"></div>
        </div>
      </div>
      <div class="button-container">
        <div
          class="button"
          style="background: #a30b0b"
          onclick="wineListModal.hide();"
        >
          Fermer
        </div>
      </div>
    </div>
    <div id="main">
      <!-- <div id="current_count">Cellier contient:27 libre:28</div> -->
      <div id="addTrigger" style="display: none" onclick="addWinetoCellar()">
        Ajouter au cellier
      </div>
      <div class="main_container">
        <!-- Child div 1 -->
        <div id="main_cellar" class="section_container">
          <div class="section_title" id="cellarCount"></div>
          <div class="cellar_container">
            <!-- First column -->
            <div id="column_a" class="c_column">
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca1"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca2"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca3"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca4"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca5"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca6"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca7"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca8"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca9"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca10"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca11"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca12"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ca13"
              >
                <div class="bottle"></div>
              </div>
            </div>
            <div id="column_b" class="c_column">
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb1"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb2"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb3"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb4"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb5"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb6"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb7"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb8"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb9"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb10"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb11"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb12"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cb13"
              >
                <div class="bottle"></div>
              </div>
            </div>
            <div id="column_c" class="c_center">
              <div
                class="c_shelves"
                id="cc1"
                onclick="pickLocation(this)"
                wineid=""
              >
                <div class="bottle bottle_rotate"></div>
              </div>
              <div
                class="c_shelves c_shelve_border"
                id="cc2"
                wineid=""
                onclick="pickLocation(this)"
              >
                <div class="bottle bottle_rotate"></div>
              </div>
              <div
                class="c_shelves c_shelve_border"
                id="cc3"
                wineid=""
                onclick="pickLocation(this)"
              >
                <div class="bottle bottle_rotate"></div>
              </div>
              <div
                class="c_shelves c_shelve_border"
                id="cc4"
                wineid=""
                onclick="pickLocation(this)"
              >
                <div class="bottle bottle_rotate"></div>
              </div>
            </div>
            <div id="column_d" class="c_column">
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd1"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd2"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd3"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd4"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd5"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd6"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd7"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd8"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd9"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd10"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd11"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd12"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="cd13"
              >
                <div class="bottle"></div>
              </div>
            </div>
            <div id="column_e" class="c_column">
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce1"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce2"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce3"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce4"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce5"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce6"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce7"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce8"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce9"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce10"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce11"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce12"
              >
                <div class="bottle"></div>
              </div>
              <div
                class="c_winerack"
                onclick="pickLocation(this)"
                wineid=""
                id="ce13"
              >
                <div class="bottle"></div>
              </div>
            </div>
          </div>
          <div id="kitchen_cellar" class="section_container">
            <div class="section_title" id="kitchenCount"></div>
            <div class="kitchen_cellar_container">
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc1"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc2"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc3"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc4"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc5"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc6"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc7"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc8"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc9"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc10"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc11"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc12"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc13"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc14"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc15"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc16"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc17"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc18"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc19"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="kc20"
              >
                <div><div class="circleBottle"></div></div>
              </div>
            </div>
          </div>
          <div id="fridge_cellar" class="section_container">
            <div class="section_title">Réfrigérateur contient:0</div>
            <div class="fridge_cellar_container">
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="fa1"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="fa2"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="fa3"
              >
                <div><div class="circleBottle"></div></div>
              </div>
              <div
                class="octagon"
                wineid=""
                onclick="pickLocation(this)"
                id="fa4"
              >
                <div><div class="circleBottle"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/wineAPI.js"></script>
    <script src="/js/cellar.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/list.js"></script>
    <script src="/js/stars.js"></script>
    <script src="/js/locations.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/tools.js"></script>
  </body>
</html>