.list-container {
  background: #fff;
  position: sticky;
  display: flex;
  width: 100%;
}
.list-container-modal {
  background: #fff;
  width: 100%;
}
.list-inner-container {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  position: relative;
}

.list-inner-container-modal {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  position: relative;
}

.list-item-container {
  padding: 10px 0 5px 5px;
  margin: 3px;
  border: 1px solid #ccc;
  position: relative;
  font-size: 0.8em;
  background: #fff;
  cursor: pointer;
}
.list-item-container-modal {
  padding: 10px 0 5px 5px;
  margin: 3px;
  border: 1px solid #ccc;
  position: relative;
  font-size: 0.8em;
  background: #fff;
  cursor: pointer;
}
.select-wine {
  display: flex;
  right: 0;
}

.stars-container {
  position: absolute;
  right: 5px;
  top: -5px;
}

.container {
  display: flex;
  align-items: center;
}
input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
}
button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
